echo "*.log" >> ~/mycode/.gitignore
echo "*.key" >> ~/mycode/.gitignore
echo "id_rsa*" >> ~/mycode/.gitignore

/advance-react/node_modules
/next-advanced-ssr-ssg/node_modules
/next-data-fetching-demo/node_modules
/next-image-optimization/node_modules
/next-routing-demo/node_modules
/next-state-management/node_modules
/nextjs-lab/node_modules
/nextjs-webpack/node_modules
/react-router-demo/node_modules
/next-redux-app/node_modules
/next-api-app/node_modules
/nextjs-serverless/node_modules
/next-api-integrations/node_modules
/caching-nextjs/node_modules
/graphql-server/node_modules
/graphql-ssr-nextjs/node_modules
/nextauthjs-secure/node_modules
/nextjs-error-handling/node_modules
/realtime-nextjs/node_modules
/next-hot-swap-lab/node_modules
/next-app-router-lab/node_modules
/nextjs-testing/node_modules
/main-app/node_modules
/zone1/node_modules
/zone2/node_modules
/turbo-monorepo/my-turborepo/apps/another-next-app/node_modules
/turbo-monorepo/my-turborepo/apps/my-next-app/node_modules
/turbo-monorepo/my-turborepo/packages/my-shared-components/node_modules
/nextjs-libraries-app/node_modules
/seo-analytics-app/node_modules

